.backLink {
    position: absolute;
    float: left;
    left: 0;
    margin-left: 5vh;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.material-icons {
    color: #fff;
}
