/*
* Desktop
*/

@media (min-width: 1025px){

    .movieContainer {
        width: 50%;
        margin:auto;
        column-gap: 1vh;
        row-gap: 1vh;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        justify-content: center;
        margin-top: 1vh;
    }

}

/*
* Tablets
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .movieContainer {
        column-gap: 1vh;
        row-gap: 1vh;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        justify-content: center;
        margin-top: 1vh;
        background-color: var(--background);
    }

}

/**
* Mobile
*/
@media (min-width: 320px) and (max-width: 767px) {

    .movieContainer {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        justify-content: center;
        margin-top: 1vh;
        background-color: var(--background);
    }

  }