.App {
  background-color: var(--background);
  background-size: auto;
  color: var(--text-primary);
  transition: all .5s;
  text-align: center;
  height: 100vh;
}

.content {
  background-color: var(--background);
}